<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="TestConfiguration" type="MobileFramework.Config.TestConfiguration, MobileFramework"/>
	</configSections>
	
	<TestConfiguration>
		<TestSettings>
			<TestSetting name="Dev-Android" environment="dev" pkgpath ="C:\Users\JanineRoe\source\repos\JanineTestApp\JanineTestApp\JanineTestApp.Android\bin\Release\" pkgname="com.companyname.janinetestapp.apk" platform="Android"/>
			<TestSetting name="QA-Android" environment="qa" pkgpath ="" pkgname="" platform="Android"/>
			<TestSetting name="Staging-Android" environment="stage" pkgpath ="" pkgname="" platform="Android"/>
		</TestSettings>
	</TestConfiguration>
</configuration>